/* ##commons##  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.wrap{
    
    width: 1170px;
    margin: 20px auto;
  
}

clear-fix::after{
    content: '';
    clear: both;
    display: table;
}


.pos-abs{
    position: absolute;
}

/* ##product container##  */
.box{
    position: relative;
    width: calc(100% / 3 - 10px );
    margin-top: 20px;
    float: left;
    margin: 5px;
    padding-bottom: 30px;
}

.img-container{
    position: relative;
    
    
}

/* ##img hover effect##  */
.img-container img{
    width: 100%;
    
}

.img-container .front{
    position: absolute;
    top: 0px;
    left: 0px;
    transition: ease-in 0.5s;
}

.img-container .back{
    position: relative;
}

.front:hover{
    opacity: 0;
}

/* ##tags##  */
.heart{
    background-color: white;
    font-size: 30px;
    padding: 10px 15px;
    top: 20px;
    right: 0px;
    z-index: 2;
}

.tag-text{
    
    font-size: 20px;
    color: white;
    bottom: 120px;
    left: 0px;
    z-index: 2;}


.sale{
    background-color: red;
    padding: 3px;
}

.sost{
    background-color: green;
    padding: 3px;
}
 /* ###item description section### */
.item-description{
    width: 100%;
    margin-top: 10px;
}

.item-description h3{
font-size: 18px;
text-transform: uppercase;
}

.after-sale{
    color: red;
    font-weight: 600;
    padding: 2px;
}

.pre-sale{
    text-decoration: line-through;
    padding: 2px;
}



/* # debug # */

.box.debug{
    border: 1px solid black;
     }
 
 .text.debug{
     background-color: red;
 }



/*  #### esempio usando due immagini in un div####  
     container img {    
        width: 100%;
    }
    
    .img-container .back{
        display: none;
    }
    /* ##in questo caso metter hover sul contenitore ##  */
    
    /* .img-container:hover .front{
    display:none;
   }
        .img-container:hover .back{
        display: inline-block;
  
    } */ 





